* {
    margin: 0;
    padding: 0;
}

#wrapper {
    background: greenyellow;
    padding: 5px;
    border: solid 1px green;
    text-align: center;
}

.list-title {
    background: green;
    padding: 5px;
    color: whitesmoke;
}

.list-item {
    padding: 5px;
}

ul {
    list-style-type: none;
}

#list {
    background: yellowgreen;
}

.form-centered{
    align-items: center;
    display: flex;
    justify-content: center;
}